.block
  .secondary-navigation
    %ul.wat-cf
      %li.first= link_to "#{t("web-app-theme.list", :default => "List")}", pieces_path
      %li= link_to "#{t("web-app-theme.new", :default => "New")}", new_piece_path
      %li.active= link_to "#{t("web-app-theme.edit", :default => "Edit")}", edit_piece_path
  .content
    %h2.title
      = t("web-app-theme.edit", :default => "Edit")
      Piece
    .inner
      = form_for @piece, :url => piece_path(@piece), :html => { :class => :form } do |f|
        = render :partial => "form", :locals => {:f => f}
- content_for :sidebar, render(:partial => 'sidebar')
